@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /* border: 1px solid #000 !important    ; */
}
.D-homebg1{
    background-image: url('./assets/bg-home.png');
    background-size: cover;
}
.D-homebg2{
    background-image: url('./assets/homebg2.png');
    background-size: cover;
}
.D-homebg3{
    background-image: url('./assets/homebg3.png');
    background-size: cover;
}
.D-homebg4{
    background-image: url('./assets/homebg4.png');
    background-size: cover;
}
.D-bgopacityseablue{
    background-color:rgba(107, 253, 229, 0.495);
}
.D-bgopacityyellow{
    background-color:rgba(234, 244, 35, 0.495);
}
.D-bgopacitypink{
    background-color:rgba(253, 158, 107, 0.495);
}

.D-glacialFont{
    font-family: 'Glacial Indifference', sans-serif;
  }

  /* LazyDog font for the body */
.D-lazydog{
    font-family: 'Patrick Hand', sans-serif;
  }
  
  /* Futura font for headings */
.D-futura{
    font-family: 'Futura', sans-serif;
  }

.D-cgirls {
    font-family: 'Crafty Girls', cursive;
  }

.D-pacific{ 
    font-family: 'Signika Negative', sans-serif; 
}
.D-sacram {
    font-family: 'Sacramento', x;
  }
  
  
  
  
